<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.auth.mapper.ClassesMapper">

    <resultMap id="BaseResultMap" type="com.kwang.study.auth.pojo.Classes">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 1. 查询所有的班级 -->
    <!--
        查询所有班级信息。
        resultMap="BaseResultMap" 确保数据库列能正确映射到Java对象的属性上。
    -->
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
            id, name, create_time, update_time
        FROM
            classes
        ORDER BY
            id ASC
    </select>

    <!-- 2. 新增一个班级 -->
    <!--
        插入一条新的班级记录。
        - parameterType: 指定传入的Java对象类型。
        - useGeneratedKeys="true": 表示数据库会自动生成主键 (比如AUTO_INCREMENT)。
        - keyProperty="id": 将生成的主键值回填到传入的classes对象的id属性中。
          这样在调用insert方法后, classes.getId() 就能获取到新生成的ID。
    -->
    <insert id="insert" parameterType="com.kwang.study.auth.pojo.Classes" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classes (name, create_time, update_time)
        VALUES (#{name}, NOW(), NOW())
    </insert>

    <!-- 3. 修改一个班级名称 -->
    <!--
        根据ID更新班级的名称。
        这里的UPDATE语句会自动更新update_time字段, 因为表结构中定义了 ON UPDATE CURRENT_TIMESTAMP。
    -->
    <update id="update" parameterType="com.kwang.study.auth.pojo.Classes">
        UPDATE
            classes
        SET
            name = #{name}
        WHERE
            id = #{id}
    </update>

    <!-- 4. 删除一个班级 -->
    <!--
        根据主键ID删除一条班级记录。
    -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM
            classes
        WHERE
            id = #{id}
    </delete>

</mapper>