<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwang.study.auth.mapper.UserMapper">

    <!-- 根据用户名查询用户及其角色信息 -->
    <resultMap id="UserWithRolesMap" type="com.kwang.study.auth.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled" />
        <!-- 其他User实体属性映射 -->
        <collection property="roles" ofType="com.kwang.study.auth.pojo.Role"
                    select="findRolesByUserId" column="id"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="UserWithRolesMap">
        SELECT
            u.*
        FROM users u
        WHERE u.id = #{id}
    </select>

    <!-- 根据用户名查询用户 -->
    <select id="findByUsername" parameterType="string" resultMap="UserWithRolesMap">
        SELECT
            u.*
        FROM users u
        WHERE u.username = #{username}
    </select>

    <!-- 根据用户ID查询角色列表 -->
    <select id="findRolesByUserId" parameterType="long" resultType="com.kwang.study.auth.pojo.Role">
        SELECT r.* FROM roles r
                            INNER JOIN user_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>


    <resultMap id="UserWithOrgInfoMap" type="com.kwang.study.auth.pojo.User">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>

        <!-- 班级成员列表：注意 cm_id 的映射 -->
        <collection property="classMembers" ofType="com.kwang.study.organization.pojo.ClassMember">
            <id property="id" column="cm_id"/>
            <result property="userId" column="cm_user_id"/>
            <result property="classId" column="class_id"/>
            <result property="role" column="cm_role"/>
            <result property="joinTime" column="cm_join_time"/>
            <association property="classes" javaType="com.kwang.study.organization.pojo.Classes">
                <id property="id" column="class_id"/>
                <result property="name" column="class_name"/>
                <result property="createTime" column="class_create_time" />
                <result property="updateTime" column="class_update_time" />
                <result property="schoolId" column="c_school_id" />
            </association>

            <collection property="allowedCourseIds" ofType="java.lang.Long"
                        select="com.kwang.study.organization.mapper.CourseGuestMapper.findCourseIdsByClassAndUser"
                        column="{classId=class_id, userId=cm_user_id}"/>
        </collection>

        <!-- 学校成员列表：校长身份 -->
        <collection property="schoolMembers" ofType="com.kwang.study.organization.pojo.SchoolMember">
            <id property="id" column="sm_id"/>
            <result property="userId" column="sm_user_id"/>
            <result property="schoolId" column="s_school_id"/>
            <result property="role" column="sm_role"/>
            <result property="joinTime" column="sm_join_time"/>

            <!-- 在SchoolMember内部, 嵌套关联学校信息 (School) -->
            <association property="school" javaType="com.kwang.study.organization.pojo.School">
                <id property="id" column="s_school_id"/>
                <result property="name" column="school_name"/>
                <result property="createTime" column="school_create_time" />
                <result property="updateTime" column="school_update_time" />
            </association>
        </collection>

        <collection property="roles" ofType="com.kwang.study.auth.pojo.Role"
                    select="findRolesByUserId" column="user_id"/>

    </resultMap>

    <select id="findByIdWithOrgInfo" parameterType="long" resultMap="UserWithOrgInfoMap">
        SELECT
            u.id AS user_id,
            u.username,
            u.password,
            u.enabled,
            cm.id AS cm_id,
            cm.user_id AS cm_user_id,
            cm.role AS cm_role,
            cm.join_time AS cm_join_time,
            c.id AS class_id,
            c.name AS class_name,
            c.create_time AS class_create_time,
            c.update_time AS class_update_time,
            c.school_id AS c_school_id,
            sm.id AS sm_id,
            sm.user_id AS sm_user_id,
            sm.role AS sm_role,
            sm.join_time AS sm_join_time,
            s.id AS s_school_id,
            s.name AS school_name,
            s.create_time AS school_create_time,
            s.update_time AS school_update_time
        FROM
            users u
                LEFT JOIN
            class_members cm ON u.id = cm.user_id
                LEFT JOIN
            classes c ON cm.class_id = c.id
                LEFT JOIN
            school_members sm ON u.id = sm.user_id
                LEFT JOIN
            schools s ON sm.school_id = s.id
        WHERE
            u.id = #{id}
        ORDER BY
            cm.join_time DESC,
            sm.join_time DESC;
    </select>

    <!--
      根据用户名查询用户及其班级信息的方法实现。
      - 使用LEFT JOIN: 保证即使用户没有分配班级, 也能查出该用户信息。
      - 使用AS别名: 为字段起别名以避免不同表之间字段名冲突, 便于ResultMap进行映射。
    -->
    <select id="findByUsernameWithOrgInfo" parameterType="string" resultMap="UserWithOrgInfoMap">
        SELECT
            u.id AS user_id,
            u.username,
            u.password,
            u.enabled,
            cm.id AS cm_id,
            cm.user_id AS cm_user_id,
            cm.role AS cm_role,
            cm.join_time AS cm_join_time,
            c.id AS class_id,
            c.name AS class_name,
            c.create_time AS class_create_time,
            c.update_time AS class_update_time,
            c.school_id AS c_school_id,
            sm.id AS sm_id,
            sm.user_id AS sm_user_id,
            sm.role AS sm_role,
            sm.join_time AS sm_join_time,
            s.id AS s_school_id,
            s.name AS school_name,
            s.create_time AS school_create_time,
            s.update_time AS school_update_time
        FROM
            users u
                LEFT JOIN
            class_members cm ON u.id = cm.user_id
                LEFT JOIN
            classes c ON cm.class_id = c.id
                LEFT JOIN
            school_members sm ON u.id = sm.user_id
                LEFT JOIN
            schools s ON sm.school_id = s.id
        WHERE
            u.username = #{username}
        ORDER BY
            cm.join_time DESC,
            sm.join_time DESC;
    </select>



    <!-- 1. 添加用户 -->
    <insert id="insertUser" parameterType="com.kwang.study.auth.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, enabled)
        VALUES (#{username}, #{password}, #{enabled})
    </insert>

    <insert id="insertUserBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, enabled)
        VALUES
        <foreach collection="userList" item="user" separator=",">
            (
            #{user.username},
            #{user.password},
            #{user.enabled}
            )
        </foreach>
    </insert>

    <!-- 2. 修改用户信息 (动态SQL) -->
    <update id="updateUser" parameterType="com.kwang.study.auth.pojo.User">
        UPDATE users
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 3. 删除用户 -->
    <delete id="deleteUser" parameterType="long">
        DELETE
        FROM users
        WHERE id = #{userId}
    </delete>

    <!-- 4. 为用户分配角色 -->
    <insert id="insertUserRoleByName">
        INSERT INTO user_roles (user_id, role_id)
        VALUES (#{userId}, (SELECT id FROM roles WHERE name = #{roleName}))
    </insert>

    <!-- 5. 删除用户的所有角色 -->
    <delete id="deleteRolesByUserId" parameterType="long">
        DELETE
        FROM user_roles
        WHERE user_id = #{userId}
    </delete>

    <!-- 6. 删除用户的指定角色 -->
    <delete id="deleteUserRoleByName">
        DELETE
        FROM user_roles
        WHERE user_id = #{userId}
          AND role_id = (SELECT id FROM roles WHERE name = #{roleName})
    </delete>

</mapper>