<?xml version="1.0" encoding="UTF-8"?>
<Configuration dest="err" status="warn" name="StudyLogConfig" monitorInterval="30">
    <Properties>
        <Property name="LOG_DIR">${sys:study.log.dir:-logs}</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{36}] - %msg%n%throwable</Property>
        <Property name="CONSOLE_PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{black} [%pid] %highlight{%-5level} [%logger{36}] - %msg%n%throwable</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${CONSOLE_PATTERN}" charset="UTF-8" />
        </Console>

        <RollingFile name="AppFile"
                     fileName="${LOG_DIR}/study.log"
                     filePattern="${LOG_DIR}/archive/study-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="MathVisionWorkflowFile"
                     fileName="${LOG_DIR}/mathvision-workflow.log"
                     filePattern="${LOG_DIR}/archive/mathvision-workflow-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="MathVisionAiTraceFile"
                     fileName="${LOG_DIR}/mathvision-ai-trace.log"
                     filePattern="${LOG_DIR}/archive/mathvision-ai-trace-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.kwang.study.mathvision" level="info" additivity="true">
            <AppenderRef ref="MathVisionWorkflowFile" />
        </Logger>
        <Logger name="com.kwang.study.mathvision.ai.trace" level="debug" additivity="false">
            <AppenderRef ref="MathVisionAiTraceFile" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="AppFile" />
        </Root>
    </Loggers>

</Configuration>
