<?xml version="1.0" encoding="UTF-8"?>
<Configuration dest="err" status="warn" name="StudyLogConfig" monitorInterval="30">
    <Properties>
        <Property name="LOG_DIR">${sys:study.log.dir:-logs}</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{32}] %msg%n%throwable</Property>
        <Property name="CONSOLE_PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss}}{black} %highlight{%-5level} [%logger{32}] %msg%n%throwable</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${CONSOLE_PATTERN}" charset="UTF-8" />
        </Console>

        <RollingFile name="AppFile"
                     fileName="${LOG_DIR}/study.log"
                     filePattern="${LOG_DIR}/archive/study-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="study-*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="MathVisionWorkflowFile"
                     fileName="${LOG_DIR}/mathvision-workflow.log"
                     filePattern="${LOG_DIR}/archive/mathvision-workflow-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="mathvision-workflow-*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="MathVisionAiTraceFile"
                     fileName="${LOG_DIR}/mathvision-ai-trace.log"
                     filePattern="${LOG_DIR}/archive/mathvision-ai-trace-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true"
                     immediateFlush="true">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="mathvision-ai-trace-*.log.gz"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.kwang.study.mathvision" level="info" additivity="false">
            <AppenderRef ref="MathVisionWorkflowFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.kwang.study.mathvision.ai.trace" level="debug" additivity="false">
            <AppenderRef ref="MathVisionAiTraceFile" />
        </Logger>
        <Logger name="com.alibaba.nacos" level="warn" />
        <Logger name="com.zaxxer.hikari" level="warn" />
        <Logger name="org.mybatis" level="warn" />
        <Logger name="com.microsoft.playwright" level="warn" />
        <Logger name="io.netty" level="warn" />
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="AppFile" />
        </Root>
    </Loggers>

</Configuration>
