<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.mapper.HashRefNumMapper">

    <select id="selectHash" resultType="com.kwang.study.pojo.HashRefNum">
        SELECT * FROM hash_ref_num WHERE hash = #{hash}
    </select>

    <select id="selectHashForUpdate" resultType="com.kwang.study.pojo.HashRefNum">
        SELECT * FROM hash_ref_num WHERE hash = #{hash} for update
    </select>

    <update id="addNum">
        update hash_ref_num
        set ref_num = ref_num + 1
        where hash = #{hash} and ref_num > 0
    </update>

    <update id="decNum">
        update hash_ref_num
        set ref_num = ref_num - 1
        where hash = #{hash} and ref_num > 0
    </update>

    <insert id="insertHash">
        insert into hash_ref_num(hash, ref_path, ref_num)
        VALUES (#{hash}, #{ref_path}, #{ref_num})
    </insert>

    <delete id="deleteHash">
        delete from hash_ref_num
        where hash = #{hash}
    </delete>

</mapper>