<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.mapper.NodeMapper">

    <insert id="insertNode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO node (parent_id, name, type, permissions, size, ref_path, hash)
        VALUES (#{parentId}, #{name}, #{type}, #{permissions}, #{size}, #{refPath}, #{hash})
    </insert>

    <select id="selectNodeById" resultType="com.kwang.study.pojo.Node">
        SELECT * FROM node WHERE id = #{id}
    </select>

    <select id="selectChildrenByParentId" resultType="com.kwang.study.pojo.Node">
        SELECT * FROM node WHERE parent_id = #{parentId} AND type IN
                <foreach item="type" collection="types" open="(" separator="," close=")">
                    #{type}
                </foreach>
    </select>

    <select id="selectRootChildren" resultType="com.kwang.study.pojo.Node">
        SELECT * FROM node WHERE parent_id IS NULL AND type IN
            <foreach item="type" collection="types" open="(" separator="," close=")">
                #{type}
            </foreach>
    </select>

    <delete id="deleteNodeById">
        DELETE FROM node WHERE id = #{id}
    </delete>

    <delete id="batchDeleteNodeByIds">
        DELETE FROM node
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateNodeForFile">
        UPDATE node
        SET ref_path = #{refPath},
            hash = #{hash},
            size = #{size},
            modify_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

</mapper>