<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.homework.mapper.HomeworkSubmissionMapper">

    <resultMap id="SubmissionResultMap" type="com.kwang.study.homework.pojo.HomeworkSubmission">
        <id property="id" column="id"/>
        <result property="homeworkId" column="homework_id"/>
        <result property="studentId" column="student_id"/>
        <result property="content" column="content"/>
        <result property="status" column="status" />
        <result property="score" column="score" />
        <result property="answerData" column="answer_data" />
        <result property="gradingData" column="grading_data" />

        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <!-- 多对一关联查询作业信息 -->
        <association property="homework" javaType="com.kwang.study.homework.pojo.Homework"
                     select="com.kwang.study.homework.mapper.HomeworkMapper.findById"
                     column="homework_id"/>

        <!-- 一对多关联查询附件 -->
        <collection property="attachments" ofType="com.kwang.study.homework.pojo.Attachment"
                    select="com.kwang.study.homework.mapper.AttachmentMapper.findByOwner"
                    column="{ownerId=id, ownerType=owner_type}"/>

    </resultMap>

    <resultMap id="SubmissionDetailResultMap" type="com.kwang.study.homework.pojo.HomeworkSubmissionDetail" extends="SubmissionResultMap">
        <result property="studentName" column="student_name"/>
    </resultMap>

    <sql id="Join_Base_Column_List">
        s.id, s.homework_id, s.student_id, s.content, s.status,
            s.create_time, s.update_time, s.score, s.answer_data, s.grading_data, 'submission' AS owner_type
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO homework_submission (homework_id, student_id, content, status, score, answer_data, grading_data)
        VALUES (#{homeworkId}, #{studentId}, #{content}, #{status}, #{score}, #{answerData}, #{gradingData})
    </insert>

    <select id="findById" resultMap="SubmissionDetailResultMap">
        SELECT <include refid="Join_Base_Column_List" />, SUBSTRING(u.username, LOCATE('_', u.username) + 1) AS student_name
        FROM homework_submission s
        LEFT JOIN users u ON s.student_id = u.id
        WHERE s.id = #{id}
    </select>

    <select id="findAllByStudentId" resultMap="SubmissionDetailResultMap">
        SELECT <include refid="Join_Base_Column_List" />, SUBSTRING(u.username, LOCATE('_', u.username) + 1) AS student_name
        FROM homework_submission s
        LEFT JOIN users u ON s.student_id = u.id
        WHERE s.student_id = #{studentId}
        ORDER BY update_time DESC
    </select>

    <select id="findAllByHomeworkId" resultMap="SubmissionDetailResultMap">
        SELECT <include refid="Join_Base_Column_List" />, SUBSTRING(u.username, LOCATE('_', u.username) + 1) AS student_name
        FROM homework_submission s
        LEFT JOIN users u ON s.student_id = u.id
        WHERE s.homework_id = #{homeworkId}
        ORDER BY update_time DESC
    </select>

    <select id="findByHomeworkIdAndStudentId" resultMap="SubmissionDetailResultMap">
        SELECT <include refid="Join_Base_Column_List" />, SUBSTRING(u.username, LOCATE('_', u.username) + 1) AS student_name
        FROM homework_submission s
        LEFT JOIN users u ON s.student_id = u.id
        WHERE s.homework_id = #{homeworkId} AND s.student_id = #{studentId}
    </select>

    <select id="findIdsByHomeworkId" resultType="java.lang.Long">
        SELECT id FROM homework_submission WHERE homework_id = #{homeworkId}
    </select>

    <delete id="deleteByHomeworkId">
        DELETE FROM homework_submission WHERE homework_id = #{homeworkId}
    </delete>

    <update id="batchUpdateStatus" >
        UPDATE
        homework_submission
        SET status = #{status}
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateById" parameterType="com.kwang.study.homework.pojo.HomeworkSubmission">
        UPDATE homework_submission
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="answerData != null">
                answer_data = #{answerData},
            </if>
            <if test="gradingData != null">
                grading_data = #{gradingData},
            </if>
            update_time = CURRENT_TIMESTAMP,
        </set>
        WHERE id = #{id}
    </update>

</mapper>