<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.fs.mapper.MimeTypeMapper">

    <select id="selectById" resultType="com.kwang.study.fs.pojo.MimeType">
        SELECT id, `name` FROM mime_types WHERE id = #{id}
    </select>

    <select id="selectByName" resultType="com.kwang.study.fs.pojo.MimeType">
        SELECT id, `name` FROM mime_types WHERE `name` = #{name}
    </select>

    <select id="selectAll" resultType="com.kwang.study.fs.pojo.MimeType">
        SELECT id, name FROM mime_types ORDER BY name;
    </select>


</mapper>