<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwang.study.ware.mapper.NodeMetadataMapper">

    <!-- 通用结果映射 -->
    <resultMap id="BaseResultMap" type="com.kwang.study.ware.pojo.NodeMetadata">
        <id column="node_id" property="nodeId" jdbcType="BIGINT"/>
        <result column="ai_summary" property="aiSummary" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        node_id, ai_summary, create_time, update_time
    </sql>

    <!-- 根据nodeId查询 -->
    <select id="selectByNodeId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM node_metadata
        WHERE node_id = #{nodeId,jdbcType=BIGINT}
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM node_metadata
        ORDER BY node_id ASC
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.kwang.study.ware.pojo.NodeMetadata">
        INSERT INTO node_metadata (
            node_id,
            ai_summary,
            create_time,
            update_time
        ) VALUES (
                     #{nodeId,jdbcType=BIGINT},
                     #{aiSummary,jdbcType=VARCHAR},
                     NOW(),
                     NOW()
                 )
    </insert>

    <!-- 更新（根据nodeId） -->
    <insert id="updateOrCreateByNodeId" parameterType="com.kwang.study.ware.pojo.NodeMetadata">
        INSERT INTO node_metadata (node_id, ai_summary, update_time, create_time)
        VALUES (
        #{nodeId,jdbcType=BIGINT},
        #{aiSummary,jdbcType=VARCHAR},
        NOW(),
        NOW()
        )
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="aiSummary != null">
                ai_summary = #{aiSummary,jdbcType=VARCHAR},
            </if>
            update_time = NOW(),
        </trim>
    </insert>

    <!-- 删除 -->
    <delete id="deleteByNodeId" parameterType="java.lang.Long">
        DELETE FROM node_metadata
        WHERE node_id = #{nodeId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByNodeIds">
        DELETE FROM node_metadata WHERE node_id IN
        <foreach collection="nodeIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>