<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwang.study.fs.mapper.NodeMapper">

    <resultMap id="NodeDetailResultMap" type="com.kwang.study.fs.pojo.NodeDetail" extends="BaseResultMap">
        <result property="mimeTypeName" column="mime_type_name"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.kwang.study.fs.pojo.Node">
        <id property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="size" column="size" />
        <result property="createTime" column="create_time" />
        <result property="modifyTime" column="modify_time" />
        <result property="hashId" column="hash_id" />
        <result property="mimeTypeId" column="mime_type_id" />
    </resultMap>


    <sql id="Base_Column_List">
        id, parent_id, `name`, `type`, `size`, create_time, modify_time, hash_id, mime_type_id
    </sql>

    <sql id="Join_N_Base_Column_List">
        n.id, n.parent_id, n.`name`, n.`type`, n.`size`, n.create_time, n.modify_time, n.hash_id, n.mime_type_id
    </sql>

    <insert id="insertNode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO node (parent_id, `name`, `type`, `size`, hash_id, mime_type_id)
        VALUES (#{parentId}, #{name}, #{type}, #{size}, #{hashId}, #{mimeTypeId})
    </insert>

    <update id="updateNode">
        UPDATE node
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="size != null">
                `size` = #{size},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="hashId != null">
                hash_id = #{hashId},
            </if>
            <if test="mimeTypeId != null">
                mime_type_id = #{mimeTypeId},
            </if>
            modify_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteNodeById">
        DELETE FROM node WHERE id = #{id}
    </delete>

    <delete id="batchDeleteNodeByIds">
        DELETE FROM node
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectNodeById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM node
        WHERE id = #{id}
    </select>

    <select id="selectNodesByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM node
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectNodeByParentIdAndName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM node
        WHERE <if test="parentId != null">
                parent_id = #{parentId}
              </if>
              <if test="parentId == null">
                parent_id IS NULL
              </if>
              AND `name` = #{name}
    </select>

    <select id="selectChildrenByParentId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM node
        WHERE
        <if test="parentId != null">
            parent_id = #{parentId}
        </if>
        <if test="parentId == null">
            parent_id IS NULL
        </if>
    </select>

    <select id="selectAllDescendantIds" resultType="long">
        WITH RECURSIVE descendants AS (
            SELECT id FROM node WHERE id = #{id}
            UNION ALL
            SELECT n.id FROM node n JOIN descendants d ON n.parent_id = d.id
        )
        SELECT id FROM descendants WHERE id != #{id};
    </select>

    <select id="selectNodeDetailById" resultMap="NodeDetailResultMap">
        SELECT
        <include refid="Join_N_Base_Column_List" />,
        mt.name AS mime_type_name
        FROM
        node n
        LEFT JOIN
        mime_types mt ON n.mime_type_id = mt.id
        WHERE
        n.id = #{id}
    </select>

    <select id="selectChildrenDetailByParentId" resultMap="NodeDetailResultMap">
        SELECT
        <include refid="Join_N_Base_Column_List" />,
        mt.name AS mime_type_name
        FROM
        node n
        LEFT JOIN
        mime_types mt ON n.mime_type_id = mt.id
        WHERE
        <if test="parentId != null">
            n.parent_id = #{parentId}
        </if>
        <if test="parentId == null">
            n.parent_id IS NULL
        </if>
    </select>

    <select id="selectNodeByPath" resultMap="BaseResultMap">
        WITH RECURSIVE path_cte AS (
            -- 锚点: 找到路径的第一部分对应的顶级节点 (parent_id is null)
            SELECT
                id,
                1 AS path_level
            FROM node
            WHERE
                parent_id IS NULL AND
                name = SUBSTRING_INDEX(TRIM(LEADING '/' FROM #{path}), '/', 1)

            UNION ALL

            -- 递归: 逐级向下查找子节点
            SELECT
                n.id,
                pc.path_level + 1
            FROM node n
                     JOIN path_cte pc ON n.parent_id = pc.id
            WHERE
                    n.name = SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(LEADING '/' FROM #{path}), '/', pc.path_level + 1), '/', -1)
        )
        SELECT
            n.id, n.parent_id, n.name, n.type, n.size, n.create_time, n.modify_time, n.hash_id, n.mime_type_id
        FROM
            node n
                JOIN path_cte pc ON n.id = pc.id
        WHERE
                pc.path_level = (LENGTH(#{path}) - LENGTH(REPLACE(#{path}, '/', '')))
            LIMIT 1;
    </select>

    <select id="selectNodeDetailByPath" resultMap="NodeDetailResultMap">
        WITH RECURSIVE path_cte AS (
            -- 锚点: 找到路径的第一部分对应的顶级节点 (parent_id is null)
            SELECT
                id,
                1 AS path_level
            FROM node
            WHERE
                parent_id IS NULL AND
                name = SUBSTRING_INDEX(TRIM(LEADING '/' FROM #{path}), '/', 1)

            UNION ALL

            -- 递归: 逐级向下查找子节点
            SELECT
                n.id,
                pc.path_level + 1
            FROM node n
                     JOIN path_cte pc ON n.parent_id = pc.id
            WHERE
                    n.name = SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(LEADING '/' FROM #{path}), '/', pc.path_level + 1), '/', -1)
        )
        SELECT
            n.id, n.parent_id, n.name, n.type, n.size, n.create_time, n.modify_time, n.hash_id, n.mime_type_id,
            mt.name AS mime_type_name
        FROM
            node n
                JOIN path_cte pc ON n.id = pc.id
                LEFT JOIN mime_types mt ON n.mime_type_id = mt.id
        WHERE
                pc.path_level = (LENGTH(#{path}) - LENGTH(REPLACE(#{path}, '/', '')))
            LIMIT 1;
    </select>

</mapper>